header{
    width: 100% ;
    height: 95px ;
    background: red ;
    

}
.max-w{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:95px;
    width: 100%;
}
.date{
  justify-content: flex-start;
  align-items: bottom;
  font-family: 'Roboto', sans-serif;
  color:#fff;
  font-size:13px;
width: 33%;
margin-bottom: 0.5%;
}

.logo{
   

    height: 60px;
    background:white;
}

.logo img{
    width: 100%;
    height: 100%;
}

.subscribe-top{
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    justify-content: flex-end;
    text-align:center;
}

.subscribe-top a{
justify-content: center;
margin-right: 8%;
color:white;
font-weight: 600;
font-size:18px;
line-height: 38px;
}
.subscribe-top a:hover{
text-decoration: none;

}


.subscribe-top #subscribe{
    background: white;
    color:red;
    width: 154px;
}

nav:before{
    position: absolute;
top: 95px;
right: 0;
content: "";
display: block;
width: 22px;
background-color: #f72210;
border-left: 12px solid white;
border-top: 13px solid #f72210;
width: 66px;
}

nav{
    width: 100%;
    height:56px;
    border-bottom: 1px solid gray;
}
nav ul{
    display: flex;
    list-style:none;
    line-height: 24px;
    font-size:18px;
    font-weight: 700;
    height: 56px;
    align-items: center;
    text-align: center;
    padding:0px;
}
nav li{
    flex-grow:1;
    border-left:1px solid gray;
}
nav li:hover{
    cursor: pointer;
    color:red;
}
nav li:last-child:hover{
    cursor: default;
    color: black;
}

nav li:first-child{
    flex-grow:1;
    border-left:0px solid gray;
}

nav li input{
    width: 66px;
    border: none;
}
