header{
    width: 100% ;
    height: 151px ;
    background: red ;
    

}
body{
    font-family: 'Roboto', sans-serif;
}
.max-w{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:95px;
    width: 100%;
}
.date{
  justify-content: flex-start;
  align-items: bottom;
  font-family: 'Roboto', sans-serif;
  color:#fff;
  font-size:13px;
width: 33%;
margin-bottom: 0.5%;
}

.logo{
   

    height: 60px;
    background:white;
}

.logo img{
    width: 100%;
    height: 100%;
}

.subscribe-top{
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    justify-content: flex-end;
    text-align:center;
}

.subscribe-top a{
justify-content: center;
margin-right: 8%;
color:white;
font-weight: 600;
font-size:18px;
line-height: 38px;
}
.subscribe-top a:hover{
text-decoration: none;

}


.subscribe-top #subscribe{
    background: white;
    color:red;
    width: 154px;
}

nav:before{
    position: absolute;
top: 95px;
right: 0;
content: "";
display: block;
width: 22px;
background-color: #f72210;
border-left: 12px solid white;
border-top: 13px solid #f72210;
width: 66px;
}

nav{
    width: 100%;
    height:56px;
    border-bottom: 1px solid gray;
    background: white;
}
nav ul{
    display: flex;
    list-style:none;
    line-height: 24px;
    font-size:18px;
    font-weight: 700;
    height: 56px;
    align-items: center;
    text-align: center;
    padding:0px;
}
nav li{
    flex-grow:1;
    border-left:1px solid gray;
}
nav li:hover{
    cursor: pointer;
    color:red;
}
nav li:last-child:hover{
    cursor: default;
    color: black;
}

nav li:first-child{
    flex-grow:1;
    border-left:0px solid gray;
}

nav li input{
    width: 66px;
    border: none;
}

.title-block h2{
    font-size: 15px;
    font-weight: 900;
    color:gray;
}

.subtitle-block h2{
    font-size: 15px;
    font-weight: 900;
    color:gray;
    border-bottom: 1px solid gray;
}

article img{
    width: 100%;
}

article h3{
   font-size:18px;
   color:black;
   font-weight: 700;
}
article a{
    color:black;
    font-weight: 700;
    text-decoration: none;
}

article a:hover{
    color:black;
    font-weight: 700;
    text-decoration-color: red;
}
article p{
    text-align: justify;
    font-size:14px;
}
.opinion{
    border-bottom: 1px solid gray;
}

.row{
    margin-top:1%;
}
.person{
    width: 100%;
    margin-top:1%;
}
.person img{
    width: 100%;
    border-radius: 50%;
}
.text a{
font-weight:900;
font-size:15px;
color:black;
}
.text a:hover{
    color:red;
    text-decoration: none;
    }

.text p{
    color:gray;
    font-size: 17px;
    font-weight: 900;
}
.stories{
    border-bottom: 1px solid gray;
}

.stories:last-child{
    border-bottom: 0px solid gray;
}
.stories-img{
    width: 100%;
    padding:-1px;
}
.stories-img img{
    width: 100%;
}
.no-margin{
    margin:0;
}
.magazine-sec{
    margin-top:2%;
}
.title-block2{
    font-size:19px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.magazine-wrapper{
    width: 100%;

}

.mag-img{
    width: 100%;
}
.mag-img img{
    width: 100%;
}

.tags-mag{
    display:flex;
    align-items: baseline;
    text-align: center;
    margin-top:2%;
}
.tags-mag h4{
margin-left: 4%;
color:red;
font-size:1rem;
font-weight: 700;
}
.tags-mag h3{
    background: red;
    color:white;
    font-size:1rem;
    width: 30%;
    height:20%;
    vertical-align: middle;
    font-weight: 700;
    }

    .seefeatures {
        width: 100%;
        background: rgb(218, 214, 214);
        text-align:center;
        
    }
    .seefeatures a{
        color:black;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }
    .tags-mag-on-pic{
        display: block;
        text-align: center;
        font-weight: 900;
         font: bold 17px/16px "Roboto", sans-serif; 
color: #f72210;
background-color: rgba(255, 255, 255, .9);
position: relative;
bottom: 15px;
left: 0;
z-index: 1;
width: 30%;
    }
    
    .subtitle-block p{
        color:red;
        font-weight: 900;
        font-size: 18px;
        
    }
    .line{
        border-bottom:1px solid gray;
        height: 1%;
    }